In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv("Bike_Resale.csv")

In [4]:
dataset

   bike age  price
0         1  50000
1         2  43000
2         3  41000
3         4  40000
4         5  35000
5         6  31000
6         7  30000
7         8  28000
8         9  27000
9        10  18000

In [5]:
independent=dataset[["bike age"]] #input

In [6]:
independent

   bike age
0         1
1         2
2         3
3         4
4         5
5         6
6         7
7         8
8         9
9        10

In [7]:
dependent=dataset[["price"]] #output
dependent

   price
0  50000
1  43000
2  41000
3  40000
4  35000
5  31000
6  30000
7  28000
8  27000
9  18000

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

In [9]:
from sklearn.linear_model import LinearRegression # sklearn is the library to perform the model creation regression classification and clustering 
regressor=LinearRegression() #regressor assign aganon parameterized  learning phase in machine learning two line we can change its enough
regressor.fit(x_train,y_train) # input and output .acess operator
LinearRegression()

LinearRegression()

In [10]:
weight=regressor.coef_
weight # forumal

array([[-3246.6367713]])

In [13]:
bais=regressor.intercept_
bais

array([51910.31390135])

In [15]:
y_pred=regressor.predict(x_test)

In [16]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score # to evalute

0.7932490721331238

In [17]:
import pickle
filename="finalized_model_linear.sav"

In [18]:
pickle.dump(regressor,open(filename,'wb'))

In [19]:
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
result=loaded_model.predict([[13]])

C:\Users\premchandar\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [20]:
result

array([[9704.03587444]])